footer {
    background-image:url(../../assets/img/fon_footer.png);
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 0.6px;
    

}
.footer__copy {
    font-size: 1.5em;
}
.footer__text {
    text-align: right;
}